.insight-title--title {
  font-family: "Amatic SC", cursive;
  line-height: 1.5;
  font-weight: 400;
  font-size: 46px;
  color: #4b9f47;
}
.insight-title--subtitle {
  text-transform: capitalize;
  font-size: 40px;
  letter-spacing: .1em;
  color: #392a25;
  font-weight: 900;
  line-height: 1.6;
  margin-top: -10px;
}
.insight-special-title--title{
  font-family: "Amatic SC", cursive;
  line-height: 1.5;
  font-weight: 400;
  font-size: 34px;
  color: #4b9f47;
}
.style-default-left {
  margin-left: -120px;
}
.ftco-services {
  background: #1d0606;
  border-radius: 6px;
}
.ftco-services .media {
  border-right: solid 1px #ffffff;
  margin: 8px 0px 14px 0px;
}
.cover-grid {
  width: 100%;
  height: 350px !important;
}
.grid .img-prod > img {
  width: 100%;
  height: auto;
}
